*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "gilroy";
}
#main{
    width: 100%;
}
#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    overflow: hidden;
}
#overlay #nav{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
#nav h1{
    font-size: 20px;
    color: rgb(55, 55, 55);
    line-height: 15px;
}
#corner{
    width: 5vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
}
#corner #t{
    width: 100%;
    height: 50%;
    display: flex;
}
.cube{
    width: 1vw;
    height: 1vw;
}
#c1{
    background-color: rgb(217, 217, 217);
}
#c2{
    background-color: rgb(162, 162, 162);
}
#c3{
    background-color: rgb(104, 104, 104);
}
#c4{
    background-color: rgb(51, 50, 50);
}
#c5{
    background-color: rgb(42, 41, 41);
}
#c6{
    background-color: rgb(0, 0, 0);
}
#bb{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
}
#center{
    width: 30vw;
    height: 45vh;
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#center span{
    font-size: 12px;
}
#centerimg{
    width: 30vw;
    height: 35vh;
    overflow: hidden;
}
#centerimg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#gallery{
    font-size: 150px;
    letter-spacing: 15px;
    font-weight: 500;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(44, 44, 44);
}
#pinkflare{
    font-size: 150px;
    letter-spacing: 15px;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    bottom: -80%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(20deg);
    color: rgb(255, 255, 255);
    z-index: 9999;
}
#btmnav{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    overflow: hidden;
    padding: 0px 60px;
}
#btmnav img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
#home{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#home>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);
}
#circle{
    width: 140vw;
    height: 140vw;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#smcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    background-color: #fff;
}

#top{
    width: 100%;
    height: 100%;
}
#first{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-180deg) ;
}
#second{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-180deg) scale(.7);
}
#third{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-180deg) scale(.5);
}
#forth{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#fifth{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.7);
}
#sixth{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.5);
}
#purple{
    width: 6vw;
    height: 6vw;
    background-color: rgb(213,167,180);
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%,-50%);
}
#sidepurple{
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 0%;
    bottom: -100%;
    overflow: hidden;
}
#sidepurple img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#seconds{
    width: 100%;
    height: 100vh;
    position: relative;
}
#soverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#soverlay #nav{
    position: absolute;
    top:0%;
    left: 0%;
}
#seconds #nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 99999;
}
#stop{
    width: 100%;
    height: 60vh;
    border-bottom: 1.5px solid rgb(203, 203, 203);
    position: relative;
    overflow: hidden;
    display: flex;
}
.ccircle{
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
}
#pi{
    position: absolute;
    top: 55%;
    left: 42%;
    transform: translate(-50%,-50%);
    background-color: rgb(213,167,180);
    z-index: 99;
}
#pu{
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%,-50%);
    background-color: rgb(180,170,213);
}
#stop h1{
    font-weight: 400;
    font-size: 20vw;
    position: absolute;
    bottom: -15%;
    left: 150%;
    z-index: 99999999;
    color: #fff;
}
#pillars{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    z-index: 999;
}
.pillar{
    width: 20%;
    height: 100%;
    position: relative;
}
#a{
    background-color: rgb(223,177,190);
}
#b{
    background-color: rgb(233,187,200);
}
#c{
    background-color: rgb(243,197,210);
}
#d{
    background-color: rgb(253,207,220);
}
#e{
    background-color: rgb(255,227,230);
}
.shift{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgb(255,237,250);
}
.shiftup{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.shiftbtm{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
#sbtm{
    width: 100%;
    height: 40vh;
    position: relative;
}
#number{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10%;
    left: 5%;
    overflow: hidden;
}
#num1{
    width: 100%;
    height: 100%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: 600;
}
#num2{
    width: 100%;
    height: 100%;
    font-size: 35px;
    position: absolute;
    top: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
#num3{
    width: 100%;
    height: 100%;
    font-size: 35px;
    position: absolute;
    top: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#onep {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
#twop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    opacity: 0;
}

@media(max-width:400px){
    #nav h1 {
        font-size: 12px;
        line-height: 12px;
    }
    #overlay #nav {
        padding: 0px 31px;
    }
    #center{
        height: 27vh;
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
    }
    #gallery {
        font-size: 51px;
        letter-spacing: 7px;
        font-weight: 600;
        top: 80%;
    }
    #btmnav {
        height: 11vh;
        padding: 0px 30px;
    }
    #corner {
        width: 10vw;
    }
    .cube {
        width: 3vw;
        height: 2vw;
    }
    #circle {
        width: 200vw;
        height: 210vw;
    }
    #smcircle{
        width: 70vw;
        height: 70vw;
    }
    #seconds #nav{
        padding: 27px 30px;
    }
    .ccircle {
        width: 31vw;
        height: 30vw;
    }
    #onep{
        font-size: 25px;
        font-weight: 600;
    }
    #centerimg{
        width: 58vw;
    }
    #pinkflare{
        font-size: 60px;
        letter-spacing: 1px;
    }
    #sidepurple {
        width: 75vw;
        height: 75vw;
    }
    #twop{
        font-size: 23px;
        font-weight: 600;
    }
    #stop h1{
        bottom: 5%;
        font-size: 30vw;
        font-weight: 600;
    }
}